.styles {
	font-family: Verdana, sans-serif;
	text-align: center;
	font-size: 20px;
}
#color {
	background-color: grey;
}

.results, #addFail{
	padding: 8px;
	margin: 10px;
	color: black;
	background-color: lightgreen;
	border-radius: 10px;
}
.results:hover, #addFail:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
form {	
	margin: 20px;
}
